* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.showcase-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(./images/randpass-bg.jpg);
    background-size: cover/50%;
    background-position: center;
}

.showcase-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: 4rem;
}

label {
    display: inline-block;
    text-align: right;
    padding: 0.5rem 0.5rem;
}
#num {
    width: 3rem;
}
input {
    margin-left: 1rem;
    padding: 0.25rem 0;
}
.controls-container {
    display: flex;
    column-gap: 5rem;
}
#password {
    width: 12rem;
}
#generate {
    display: block;
    width: 12rem;
    margin: 1.5rem auto;
    text-align: center;
    background-color: lightgreen;
    border-radius: 5px;
}
#clear {
    display: block;
    width: 12rem;
    text-align: center;
    background-color: lightblue;
    margin: 1.5rem auto;
    border-radius: 5px;
}